@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SurveyModel
@{var a = Model;}
    @await Component.InvokeAsync("Headers",new { 
                         SurveyId =  Model.Id,
                         Function = "GetAllId"  })
    @*@await Component.InvokeAsync("Headers",new { 
                         SurveyId =  Model.Id,
                         Function = ""  })*@
    @await Component.InvokeAsync("Headers",new { 
                         SurveyId =  Model.Id,
                         Function = "Add"  })
@using (Html.BeginForm("Edit", "Survey", FormMethod.Post))
{
    @Html.AntiForgeryToken()    
    <div class="form-horizontal">
        <h4>Survey</h4>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateCreation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreation)
                @Html.ValidationMessageFor(model => model.DateCreation)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFrom)
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTo)
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>
        
       
        @*Genre and Price removed for brevity.*@        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a asp-controller="survey" asp-action="index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
}
    @*@await Component.InvokeAsync("Containers",Model.Id)*@
    @await Component.InvokeAsync("Containers",new { 
                         HeaderId = 0,
                         SurveyId =  Model.Id,
                         Function = "GetAllId"  })
    @await Component.InvokeAsync("Containers",new { 
                         SurveyId =  Model.Id,
                         Function = "Add"  })