@using ankiety.Models

@model IEnumerable<HeaderModel>
<div  style="border: 5px  solid green; padding:2px; margin:2px">
    <div>
        <h4>Headers</h4>
        @foreach (var Header in Model)
        {
            <div class="form-horizontal" style="border: 2px  solid green; padding:2px; margin:2px">
                @using (Html.BeginForm(null, "Header", new { hederId = Header.Id }, FormMethod.Post))
                {
                    @Html.HiddenFor(modelHeader => Header.Id)
                    <div class="form-group">
                        @Html.LabelFor(modelHeader => Header.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(modelHeader => Header.Description)
                            @Html.ValidationMessageFor(modelHeader => Header.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(modelHeader => Header.Style, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(modelHeader => Header.Style)
                            @Html.ValidationMessageFor(modelHeader => Header.Style)
                        </div>
                    </div>
                    @Html.HiddenFor(modelHeader => Header.SurveyId)
                    @*Batton*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button type="submit" class="btn btn-primary" formaction="@Url.Action("Delete", "Header")">Delete Header</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

