@using ankiety.Models

@model HeaderModel
<div class="form-horizontal" style="border: 2px  solid green; padding:2px; margin:2px">
    @{var a = Model.Id;}
    @using (Html.BeginForm(null, "Header", new { hederId = Model.Id }, FormMethod.Post))
    {
        @*@Html.HiddenFor(modelHeader => Model.Id)*@
        @Html.DisplayFor(modelHeader => Model.Id)
        @Html.EditorFor(Model => Model.Id)
        @Html.Editor("Id","a",Model.Id)
       
        <div class="form-group">
            @Html.LabelFor(modelHeader => Model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(modelHeader => Model.Description)
                @Html.ValidationMessageFor(modelHeader => Model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(modelHeader => Model.Style, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(modelHeader => Model.Style)
                @Html.ValidationMessageFor(modelHeader => Model.Style)
            </div>
        </div>
        @Html.LabelFor(modelHeader => Model.SurveyId, new { @class = "control-label col-md-2" })
        @Html.EditorFor(modelHeader => Model.SurveyId)
        @*@Html.HiddenFor(modelHeader => Model.SurveyId)*@
        @*Batton*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Edit</button>
                <button type="submit" class="btn btn-primary" formaction="@Url.Action("Delete", "Header")">Delete Header</button>
            </div>
        </div>
    }
</div>
