@model IEnumerable<HeaderModel>
<div  style="border: 5px  solid green; padding:2px; margin:2px">
    <div>
        
        @foreach (var Header in Model)
        {
            <div class="form-horizontal" style="border: 2px  solid green; padding:2px; margin:2px">
                @using (Html.BeginForm(null, "Header", new { hederId = Header.Id }, FormMethod.Post))
                {
                    @Html.HiddenFor(modelHeader => Header.Id)
                    if(Header.Style == 1)
                    {
                        <h4>Styl 1</h4>
                    }
                    @if(Header.Style == 2)
                    {
                        <h4>Styl 2</h4>
                    }
                    @if(Header.Style == null)
                    {
                        <h4>Styl null</h4>
                    }
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DisplayFor(modelHeader => Header.Description)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(modelHeader => Header.Style, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(modelHeader => Header.Style)
                            @Html.ValidationMessageFor(modelHeader => Header.Style)
                        </div>
                    </div>*@
                    @Html.HiddenFor(modelHeader => Header.SurveyId)
                    @*Batton*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>